@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";

@theme {
    /* Base */
    --color-bg-primary: #FFFFFF;
    --color-bg-secondary: #ECF2FF;
    --color-text-primary: #000000;
    --color-text-secondary: #434343;

    --color-border: #EBECF0;
    --color-highlight: #EBECF0;

    /*Brand */
    --color-brand-primary: #155DFC;
    --color-brand-primary-hover:#0346DB;
    --color-brand-primary-light: #68C2FF;
    --color-brand-accent: #14B8A6;
    --color-brand-accent-light: #62FC75;

    /*Status */
    --color-status-critical-bg: #FEECEB;
    --color-status-critical-text: #FA0202;

    --color-status-high-bg: #FFF0E1;
    --color-status-high-text: #7D3E00;

    --color-status-medium-bg: #FFF8D5;
    --color-status-medium-text: #FF7B00;

    --color-status-low-bg: #E3FDEB;
    --color-status-low-text: #016A30;

    /*Component-Specific */
    --color-ticket-bg: #EBECF0;
    --color-ticket-text: #4F5568;

    --color-comment-bg: #EFEFEF;
    --color-profile-border: #6F88FD;

    /*Font*/
    --font-family: "Montserrat", sans-serif;
}

.text-style-1 {
    font-family: var(--font-family), serif;
    font-size: 1.1rem;
    font-weight: 600;
}
.text-style-2 {
    font-family: var(--font-family), serif;
    font-size: 1rem;
    font-weight: 400;
}