@font-face {
    font-family: "Helvetica Neue";
    src: url("./helvetica-neue/HelveticaNeueThin.otf") format("opentype");
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: "Helvetica Neue";
    src: url("./helvetica-neue/HelveticaNeueLight.otf") format("opentype");
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: "Helvetica Neue";
    src: url("./helvetica-neue/HelveticaNeueRoman.otf") format("opentype");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Helvetica Neue";
    src: url("./helvetica-neue/HelveticaNeueMedium.otf") format("opentype");
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: "Helvetica Neue";
    src: url("./helvetica-neue/HelveticaNeueBold.otf") format("opentype");
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: "Helvetica Neue";
    src: url("./helvetica-neue/HelveticaNeueBlack.otf") format("opentype");
    font-weight: 900;
    font-style: normal;
}
